body {
  margin: 0;
}

.overlay {
  position: absolute;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
  box-sizing: border-box;
  padding: 1em;
  border-radius: 10px;
  background-color: white;
  margin: 15px;
}

.location-detail {
  top: 0;
  right: 0;
  width: 30%;
  text-align: center;
}

.council-filter {
  top: 0;
  left: 0;
}
